@CHARSET "UTF-8";

/* 全体のbox */
#site-box{
	width: 1200px;
	border: 1px solid #999;
	height: 300px
}

/* 中のbox */
#a-box{
	float: left;
	margin-left: 50px;
	width: 500px;
}

/* 中の中のbox */
#b-box{
	float: left;
	width: 200px;
}

#c-box{
	float: left;
	width: 300px;
}

#d-box{
	float: left;
	width: 400px;
}
