@CHARSET "UTF-8";
div.tabbox {
   margin: 0px; padding: 0px; width: auto;
}

/* タブ部分 */
p.tabs { margin: 0px; padding: 0px; }
p.tabs a {
   display: block; width: 300px; float: left;
   margin: 0px 1px 0px 0px; padding: 3px;
   text-align: center;
}
p.tabs a.tab1 { border: 2px solid #32CD32; color: #32CD32; }
p.tabs a.tab2 { border: 2px solid #FDCE00; color: #FDCE00;}
p.tabs a:hover { color: auto; }

/* タブ中身のボックス */
div.tab { height: auto; overflow: auto; clear: left; }
div#tab1 {
   border: 2px solid #32CD32; background-color: white;
}
div#tab2 {
   border: 2px solid #FDCE00; background-color: white;
}

div.tab p { margin: 0.5em; }

/* 汽車 */
div.train {
	margin: 30px 30px;
	padding: 10px;
	border: medium solid #777777;
}
