@CHARSET "UTF-8";
/* --- 全体の背景・テキスト --- */
body {
margin: 0;
padding: 0;
width: 1200px;
height: 800px;
background-color: #ffffff; /* ページの背景色 */
color: #000000; /* 全体の文字色 */
font-size: 100%; /* 全体の文字サイズ */
}

/* --- 全体のリンクテキスト --- */
a:link { color: #0000ff; }
a:visited { color: #800080; }
a:hover { color: #ff0000; }
a:active { color: #ff0000; }

/* --- コンテナ --- */
#container {
width: 96%; /* ページの幅 */
margin: 0 auto; /* センタリング */

background-color: #ffffff; /* メインカラムの背景色 */
border-left: 1px #c0c0c0 solid; /* 左の境界線 */
border-right: 1px #c0c0c0 solid; /* 右の境界線 */
}

/* --- ヘッダ --- */
#header{
padding:10px;
background-color:balck;
background-image:url(khead.gif);　/* 画像の設定 */
}

a{
text-decoration: none;
}

/* --- ナビゲーション --- */
#nav {
float: left;
width: 200px; /* サイドバーの幅 */
}

.mail{
	position:abusolute;
	top:400px;
	left:0%;
	border:1px white solid;
	width:100px;
	height:60px;
}

.logout{
	position:abusolute;
	top:600px;
	left:0%;
	border:1px white solid;
	width:100px;
	height:60px;
}

.rtop{
	position:abusolute;
	top:900px;
	left:0%;
	border:1px white solid;
	width:150px;
	height:60px;
}

.pop{
font-family:sans-serif;
}

/* --- メインカラム --- */
#content {
margin-left: 200px; /* メインカラムの左マージン（サイドバーの幅以上） */
}

.jukyo{
	position:absolute;
	top:200px;
	left:200px;
	border:3px black solid;
	width:200px;
	height:60px;
}

.koukyou{
	position:absolute;
	top:330px;
	left:200px;
	border:3px black solid;
	width:200px;
	height:60px;
}

.seikatu{
	position:absolute;
	top:460px;
	left:200px;
	border:3px black solid;
	width:200px;
	height:60px;
}

.money{
	position:absolute;
	top:200px;
	left:560px;
	border:3px black solid;
	width:200px;
	height:60px;
}

.koutuu{
	position:absolute;
	top:330px;
	left:560px;
	border:3px black solid;
	width:200px;
	height:60px;
}

.event{
	position:absolute;
	top:460px;
	left:560px;
	border:3px black solid;
	width:200px;
	height:60px;
}

.toi{
	position:absolute;
	top:200px;
	left:900px;
	border:3px black solid;
	width:200px;
	height:60px;
}

.q{
	position:absolute;
	top:330px;
	left:900px;
	border:3px black solid;
	width:200px;
	height:60px;
}
