@CHARSET "Shift_JIS";
div.tabbox {
   margin: 0px; padding: 0px; width: auto;
}

/* タブ部分 */
p.tabs { margin: 0px; padding: 0px; }
p.tabs a {
   display: block; width: 400px; float: left;
   margin: 0px 1px 0px 0px; padding: 3px;
   text-align: center;
}
p.tabs a.tab1 { border: 2px solid #ff9900; color: #ff9900; }
p.tabs a.tab2 { border: 2px solid #3366ff; color: #3366ff;}
p.tabs a:hover { color: auto; }

/* タブ中身のボックス */
div.tab { 
	height: auto;
	width: auto;
 	overflow: auto; 
 	clear: left; }
div#tab1 {
   border: 2px solid #ff9900; background-color: white;
}
div#tab2 {
   border: 2px solid #3366ff; background-color: white;
}
div.tab p { margin: 0.5em; }
}

