@CHARSET "UTF-8";
div.tabbox {
   margin: 0px; padding: 0px; width: auto;
}

/* タブ部分 */
p.tabs { margin: 0px; padding: 0px; }
p.tabs a {
   display: block; width: 300px; float: left;
   margin: 0px 1px 0px 0px; padding: 3px;
   text-align: center;
}
p.tabs a.tab1 { border: 2px solid #cc0033; color: #cc0033; }
p.tabs a.tab2 { border: 2px solid #FFA822; color: #FFA822;}
p.tabs a.tab3 { border: 2px solid #00cc66; color: #00cc66;}
p.tabs a.tab4 { border: 2px solid #3399ff; color: #3399ff;}
p.tabs a:hover { color: auto; }

/* タブ中身のボックス */
div.tab { height: auto; overflow: auto; clear: left; }
div#tab1 {
   border: 2px solid #cc0033; background-color: white;
}
div#tab2 {
   border: 2px solid #FFA822; background-color: white;
}
div#tab3 {
   border: 2px solid #00cc66; background-color: white;
}
div#tab4 {
   border: 2px solid #3399ff; background-color: white;
}
div.tab p { margin: 0.5em; }

/* 全体のbox */
#site-box{
	width: 1200px;
	border: 1px solid #999;
}

/* 中のbox */
#a-box{
	float: left;
	margin-left: 50px;
	width: 500px;
}

/* 中の中のbox */
#b-box{
	float: left;
	width: 200px;
}

#c-box{
	float: left;
	width: 300px;
}

#d-box{
	float: left;
	width: 400px;
}
