@CHARSET "Shift_JIS";

/* --- 全体の背景・テキスト --- */
body {
margin: 0;
padding: 0;
background-color: #ffffff; /* ページの背景色 */
color: #000000; /* 全体の文字色 */
font-size: 100%; /* 全体の文字サイズ */
}

/* --- 全体のリンクテキスト --- */
a:link { color: #0000ff; }
a:visited { color: #800080; }
a:hover { color: #ff0000; }
a:active { color: #ff0000; }

/* --- コンテナ --- */
#container {
width: 780px; /* ページの幅 */
margin: 0 auto; /* センタリング */
background-color: #ffffff;
background-color: #ffffff; /* メインカラムの背景色 */
border-left: 1px #c0c0c0 solid; /* 左の境界線 */
border-right: 1px #c0c0c0 solid; /* 右の境界線 */
}

/* --- ナビゲーション --- */
#nav {
float: left;
width: 200px; /* サイドバーの幅 */
height: 500px
}

div.sample{
float: left;
width: 100px;
height: 100px;
}


/*---メインカラム(タブリスト)---*/
#header ul.nl {
width: 100%; /* IE 6のために幅の指定が必要 */
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}
/* メニュー項目 */
#header ul.nl li {
width: 140px; /* 項目の幅 */
float: left;
line-height: 100%;
}
/* リンクエリア */
#header ul.nl li a {
display: block;
position: relative; /* IE6用 */
padding: 15px 2px; /* リンクエリアのパディング（上下、左右） */
border: 1px #cccccc; /* リンクエリアの境界線（太さ、色） */
border-style: solid solid solid none; /* リンクエリアの境界線スタイル（上右下左） */
text-decoration: none; /* テキストの下線（なし） */
}
/* 最初のリンクエリア */
#header ul.nl li.first a {
border-left: 1px #cccccc solid; /* リンクエリアの左境界線 */
}
/* ポイント時の設定 */
#header ul.nl li a:hover {
background-color: #f0ffff; /* ポイント時の背景色 */
text-decoration: underline; /* テキストの下線（あり） */
}

#tabbox {
width: 300px;
float: center;

}


/*---文字書体---*/
#p{
font-family: ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
}

/* --- フッタ --- */
#footer {
clear: left; /* フロートのクリア */
width: 100%;
background-color: #ffe080; /* フッタの背景色 */
}